.cards-container {
  display: flex;
  justify-content: center;
  gap: 3rem; 
  flex-wrap: wrap;
  max-width: 75rem; 
  margin: 0 auto;
}

@media (max-width: 64rem) { 
  .cards-container {
    gap: 1.5rem; 
  }
}

@media (max-width: 37.5rem) { 
  .cards-container {
    gap: 1rem; 
  }
}